.navigation-nav {
  box-shadow: -2px 4px 10px 0px #00000059;
  position: relative;
  img {
    width: 11%;
  }
  button {
    position: absolute;
    right: 0px;
    bottom: 10px;
    background-color: #440a9f;
    padding: 0.7em 1em;
    max-width: 100px;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
  }
}
